<link rel="stylesheet" href="./watch.component.css">
<a class="description1" routerLink="/home">Home</a>
<div class="container">

    <img src="../../assets/A_1.png">
  </div>
  <div class="product-info">
    <h4 class="categories">Watch</h4>
    <h3 class="title">Apple Watch Series 7 Midnight Aluminium Case with Midnight Sport Band - Regular</h3>
    <h2 class="price">₹ 41,705.99</h2>
    <button>Add to bag</button>
  </div>
  <div class="title">Apple Watch Series 7 GPS 45 mm Specs:</div>
  <li class="content1">Wi-Fi, Bluetooth 5.0, GPS</li>
  <li class="content1">Bluetooth Calling</li>
  <li class="content1">1 GB RAM, 32 GB Inbuilt</li>
  <li class="content1">1.77 in Touch Display</li>
  <li class="content1">Water Resistant, 50 m, WR50</li>
  <li class="content1">Scratch Resistant, Dust Proof</li>
  <li class="content1">Heart Rate Monitor</li>
  <li class="content1">SpO2 (Blood Oxygen) Monitor</li>
