<link rel="stylesheet" href="./headphones.component.css">
<a class="description1" routerLink="/home">Home</a>


    <div class="container">
  <img src="../../assets/sony.png">
</div>
<div class="product-info">
  <h4 class="categories">Headphones</h4>
  <h3 class="title">Sony WH-1000XM5 Wireless Industry Leading Active Noise Cancelling Headphones</h3>
  <h2 class="price">₹ 29,990.99</h2>
  <button>Add to bag</button>
</div>
  <div class="title">Product Description :</div>
  <p class="content1">Specially developed by Sony, the new Integrated Processor V1 unlocks the full potential of our HD Noise Canceling Processor QN1. This unique combination of technology controls 8 microphones to deliver unprecedent noise canceling quality.</p>
  <li class="content2">Industry Leading noise cancellation-two processors control 8 microphones for unprecedented noise cancellation. With Auto NC Optimizer, noise cancelling is automatically optimized based on your wearing conditions and environment.</li>
  <li class="content2">Magnificent Sound, engineered to perfection with the new Integrated Processor V1</li>
  <li class="content2">Crystal clear hands-free calling with 4 beamforming microphones, precise voice pickup, and advanced audio signal processing.</li>
  <li class="content2">Up to 30-hour battery life with quick charging (3 min charge for 3 hours of playback)</li>
  <li class="content2">Ultra-comfortable, lightweight design with soft fit leather</li>
  <li class="content2">Sony WH-1000XM5 comes with a carrying case, a connection cable, and a USB cable</li>
