<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>E-commerse Webpage</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./app.component.css">
</head>
<body>
  <!-- <div *ngFor="let com of lstcomments">
{{com.id}}
{{com.id}}
  </div> -->
  <!-- <div class="import" *ngfor="let com of lstcomments"> -->
   
  <!-- </div> -->
  <a class="description1" routerLink="/products">Products</a>
  <!-- <a class="description2" routerLink="/home">Home</a> -->

<!-- {{lstcomments|json}} -->



</body>
</html>
<router-outlet class="route"></router-outlet>

<!-- <h1>Get Request (https://hskartpp.ecbee.net:9448/product/filterproducts)</h1> -->
