<link rel="stylesheet" href="./sunglasses.component.css">
<a class="description1" routerLink="/home">Home</a>
    <div class="container">
  <img src="../../assets/RB.png">
</div>
<div class="product-info">
    <h4 class="categories">Sunglasses</h4>
          
<h3 class="title">RAY-BAN Sunglasses RB2140 WAYFARER</h3>
<h2 class="price">₹11,390.99</h2>
<button>Add to bag</button>
  </div>
  <div class="title">Sunglass Details:</div>
  <li class="content1">Frame size/ Lens width/temple Length – 50&54/22&18/150</li>
  <li class="content1">Product Type :  Unisex Sunglass With Full WAYFARER Shell</li>
  <li class="content1">2 year  warranty on manufacturing defects only.</li>
  <li class="content1">Full WAYFARER Shell Sunglass</li>
  <li class="content1">Ideal for Unisex</li>
  <li class="content1">MRP different Model to Model T&C.,</li>
  <li class="content1">Note: Any stock out products subject to availability.</li>
